
body {
  color: #17223b;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  line-height:2;
}

h1 {
  color: #17223b;
  font-family: "Sofia", cursive;
  font-size: 10rem;
  width:100%;
}

h2 {
  color: #ff6768;
  font-family: "Patua One",serif;
  font-weight: normal;
  font-size: 3rem;
}

h3 {
  color: #17223b;
  font-family: "Patua One",serif;
  font-weight: normal;
  font-size: 2.5rem;
}

h4 {
  color: #17223b;
  font-family: "Sofia", cursive;
  font-size: 2.5rem;
}

h5 {
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding:0;
}
/* background colors*/

.acctbk {
  background-color: #ff6768;
  color:white;
}

.ltbk {
  background-color: #6b778d;
}

.midbk {
  background-color: #6b778d;
  color: white;
}

.dkbk {
  background-color: #17223b;
  color: white;
}

/* layout and styling */

.clear {
  margin:0;
  padding:0;
}
.container-fluid {
  padding: 0 5rem 0 5rem;
}

.icon {
  margin:auto;
  padding: .5rem;
  width:60%;
}

.navbar {
  padding: 0 0 4.5rem 0;
  background-color: white;
  color: #17223b;
  text-decoration: none;
}

.nav-item {
  text-align:right;
}

.rowxtra {
  padding: 0 0 5rem 0;
}

.submit-button {
  width: 100%;
}

.txtcenter {
  text-align: center;
}

.xtra {
  padding: 5rem;
}

.xtra2 {
  padding: 2rem;
}

.space {
  margin: .5rem 0 .5rem 1rem;
}

/* special sections */

#contact h4 {
  color:white;
}

#skillz p {
  font-size: small;
  margin: 0 0 3rem 0;
}
#socialicons i {
  color:white;
  font-size: 2.5rem;
  padding: 1rem 0 1rem 0;
  text-align: center;
}

#welcome {
  text-align: center;
  padding: 0 0 15rem 0;
}
