body {
  color: #17223b;
}

h1 {
  color: #17223b;
  font-family: "Sofia", cursive;
  font-size: 8em;
  width:100%;
}

h2 {
  color: #ff6768;
  font-family: "Patua One",serif;
  font-weight: normal;
  font-size: 3em;
}

h3 {
  color: #17223b;
  font-family: "Patua One",serif;
  font-weight: normal;
  font-size: 2.5em;
}

h4 {
  color: #17223b;
  font-family: "Sofia", cursive;
  font-size: 2.5em;
}

h5 {
  color: white;
  font-family: "Patua One",serif;
  font-weight: normal;
  font-size: 2.5em;
}

i {
  color:white;
  font-size: 2.5em;
  text-align: center;
}

p, li, form {
  font-family: "Montserrat", sans-serif;
  font-size: 14pt;
  font-weight: lighter;
  line-height:2;

}

nav {
  background-color: white;
  color: #17223b;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.acctbk {
  background-color: #ff6768;
  color:white;
}

.container-fluid {
  padding:5%;
}

.midbk {
  background-color: #6b778d;
  color: white;
}

.nav-item {
  text-align:right;
}
.row {
  padding: 5%;
}

#welcome {
  text-align: center;
  padding-bottom: 15%;
}
